@model IEnumerable<CalorieTracker.Models.FoodDiary>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome To KnowCal!</h1>

<p>
    <a asp-action="CreateFoodDiary" asp-route-id="@ViewBag.Id">Add Food</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalorieAmmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProteinAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FatAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServingSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TodaysDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Meal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalorieAmmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProteinAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServingSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TodaysDate))
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MealId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteFood" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
